body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: blueviolet;
    color: aqua;
}

header {
    background: #333;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
    
}

    header h1 {
        margin: 0;
        font-size: 2.5rem;
        font-weight: bold;
    }

    header p {
        margin: 0.5rem 0 0;
        font-style: italic;
    }

main {
    display: grid;
    grid-template-columns: repeat(auto-fill, 500px 500px);
    grid-gap: 200px;
    grid-column-start: auto;
    max-width: 1080px;
    margin: 2rem auto;
    padding: 0.1rem;
}

.entrada-portfolio {
    background: #fff;
    padding: 1.5rem;
    margin-bottom: 2rem;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,1);
}

    .entrada-portfolio h2 {
        color: #007bff;
        margin-top: 0;
    }
    .entrada-portfolio .fecha {
        font-style: italic;
        color: #777;
        font-size: 0.9rem;
    }
    .entrada-portfolio a {
        color:#007bff;
        text-decoration: none;
        font-weight: bold;
    }
        .entrada-portfolio a:hover {
            text-decoration: underline;
        }
